<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-21.04.3.tar.xz">akonadi-21.04.3</a></td>
   <td align="right">1572kB</td>
   <td><tt>181c2b5c521eadc554d787e03f964ee127c5bb75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-calendar-21.04.3.tar.xz">akonadi-calendar-21.04.3</a></td>
   <td align="right">345kB</td>
   <td><tt>e077ac2d3fed6d6eef3a94dff2e1a9d5be33c783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-calendar-tools-21.04.3.tar.xz">akonadi-calendar-tools-21.04.3</a></td>
   <td align="right">231kB</td>
   <td><tt>2bb82af2481821eb22901a7319165a137e4102a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadiconsole-21.04.3.tar.xz">akonadiconsole-21.04.3</a></td>
   <td align="right">197kB</td>
   <td><tt>5ce1344de0fa30f2df27df8d38fde47eac8c99b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-contacts-21.04.3.tar.xz">akonadi-contacts-21.04.3</a></td>
   <td align="right">414kB</td>
   <td><tt>34a3a67116bc96de9fa32ce4d177d2b3bd7877eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-import-wizard-21.04.3.tar.xz">akonadi-import-wizard-21.04.3</a></td>
   <td align="right">500kB</td>
   <td><tt>c0bfe8282737b29e0b96af27a3a766b4fa92b971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-mime-21.04.3.tar.xz">akonadi-mime-21.04.3</a></td>
   <td align="right">138kB</td>
   <td><tt>a12dededddccd95181e38feb3295c571710480ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-notes-21.04.3.tar.xz">akonadi-notes-21.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>e149e181269e8b87a9d582b9fc97540cde84faf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akonadi-search-21.04.3.tar.xz">akonadi-search-21.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>674c0c48e3c350d6c01577e8c239813ef80cf2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/akregator-21.04.3.tar.xz">akregator-21.04.3</a></td>
   <td align="right">2198kB</td>
   <td><tt>a2db834daec16719a0b80b3578d54a10b4d0e34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/analitza-21.04.3.tar.xz">analitza-21.04.3</a></td>
   <td align="right">337kB</td>
   <td><tt>8ae2b5e9c5ba2d55c4e966ac505f114b8f7969d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ark-21.04.3.tar.xz">ark-21.04.3</a></td>
   <td align="right">2692kB</td>
   <td><tt>a4675d244d4070f5af3f095649434a79dc3adc99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/artikulate-21.04.3.tar.xz">artikulate-21.04.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>de4d79c08469083bd27f509ef7512396aa5d9c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/audiocd-kio-21.04.3.tar.xz">audiocd-kio-21.04.3</a></td>
   <td align="right">505kB</td>
   <td><tt>cc8b166a6fea5bf96e673f90eb729a59bda5f475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/baloo-widgets-21.04.3.tar.xz">baloo-widgets-21.04.3</a></td>
   <td align="right">256kB</td>
   <td><tt>131503e55b974ee8907c699b500e1cfed93a23b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/blinken-21.04.3.tar.xz">blinken-21.04.3</a></td>
   <td align="right">2649kB</td>
   <td><tt>43699641a2514db2d32acd930072977d5c98a871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/bomber-21.04.3.tar.xz">bomber-21.04.3</a></td>
   <td align="right">809kB</td>
   <td><tt>cf16e0cbd5bd2d15e9f504e37fc8f29d7fcdcd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/bovo-21.04.3.tar.xz">bovo-21.04.3</a></td>
   <td align="right">202kB</td>
   <td><tt>bf071efe5143aadd7de1f2b369410689a7490c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/calendarsupport-21.04.3.tar.xz">calendarsupport-21.04.3</a></td>
   <td align="right">738kB</td>
   <td><tt>cf3a5d790683eb34a31deff46e9c838a90b06907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/cantor-21.04.3.tar.xz">cantor-21.04.3</a></td>
   <td align="right">8931kB</td>
   <td><tt>f19b4320e22069d71c91510fd1bda4f9611fa084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/cervisia-21.04.3.tar.xz">cervisia-21.04.3</a></td>
   <td align="right">1866kB</td>
   <td><tt>5ec64d79855df564cba2ba2e2c7d638ae0e95d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/dolphin-21.04.3.tar.xz">dolphin-21.04.3</a></td>
   <td align="right">5105kB</td>
   <td><tt>8bef5173428bdc2e29dbbf42cc8e69ec40a3862b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/dolphin-plugins-21.04.3.tar.xz">dolphin-plugins-21.04.3</a></td>
   <td align="right">247kB</td>
   <td><tt>2efde92f34304fca3b5ddc34ae36e80cb422d792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/dragon-21.04.3.tar.xz">dragon-21.04.3</a></td>
   <td align="right">1626kB</td>
   <td><tt>02d962d53aa4d6bb1d17775fe42faff05f5000c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/elisa-21.04.3.tar.xz">elisa-21.04.3</a></td>
   <td align="right">1685kB</td>
   <td><tt>8f291e8708bf4fe9d36c8bb2f7cf75d8927b1b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/eventviews-21.04.3.tar.xz">eventviews-21.04.3</a></td>
   <td align="right">441kB</td>
   <td><tt>bee77ff9db69d359cd8ea4be377aaa0cac8a38b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ffmpegthumbs-21.04.3.tar.xz">ffmpegthumbs-21.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>27c614c4c3d6c6d4ff78a778ff4fdac0111ad04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/filelight-21.04.3.tar.xz">filelight-21.04.3</a></td>
   <td align="right">664kB</td>
   <td><tt>142217bd7d56eee34e832e04a7c40686bdfd74dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/granatier-21.04.3.tar.xz">granatier-21.04.3</a></td>
   <td align="right">1907kB</td>
   <td><tt>5dc68c68fae915be6d6b3f9d658bf2b69294de47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/grantlee-editor-21.04.3.tar.xz">grantlee-editor-21.04.3</a></td>
   <td align="right">109kB</td>
   <td><tt>24b206a070b4f12b454580164a91c9bc8307b83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/grantleetheme-21.04.3.tar.xz">grantleetheme-21.04.3</a></td>
   <td align="right">59kB</td>
   <td><tt>d756421810cb12ea7f686dca219f716e8756be13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/gwenview-21.04.3.tar.xz">gwenview-21.04.3</a></td>
   <td align="right">6613kB</td>
   <td><tt>ac25d1614378468033240331b239cba112134950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/incidenceeditor-21.04.3.tar.xz">incidenceeditor-21.04.3</a></td>
   <td align="right">527kB</td>
   <td><tt>5226d849846fb3033048e4bd8c6d9ea1561e431f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/itinerary-21.04.3.tar.xz">itinerary-21.04.3</a></td>
   <td align="right">374kB</td>
   <td><tt>205889fe89c84132e3364c8f89cf61eacd93cec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/juk-21.04.3.tar.xz">juk-21.04.3</a></td>
   <td align="right">1963kB</td>
   <td><tt>106f16386c718558c26f8dac5cbb704c25c65486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/k3b-21.04.3.tar.xz">k3b-21.04.3</a></td>
   <td align="right">10491kB</td>
   <td><tt>fcd2b1d2a7039b2857419016d1d349b591297180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kaccounts-integration-21.04.3.tar.xz">kaccounts-integration-21.04.3</a></td>
   <td align="right">83kB</td>
   <td><tt>ce31ff503ee9d1fb5b937dc1f2c03a8fb0c502e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kaccounts-providers-21.04.3.tar.xz">kaccounts-providers-21.04.3</a></td>
   <td align="right">61kB</td>
   <td><tt>9ece4043a9be6af5970f7535a63c4ef4dcf08891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kaddressbook-21.04.3.tar.xz">kaddressbook-21.04.3</a></td>
   <td align="right">3251kB</td>
   <td><tt>0f632e73e70404e3a0dab85517cc0398bcde168f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kajongg-21.04.3.tar.xz">kajongg-21.04.3</a></td>
   <td align="right">4368kB</td>
   <td><tt>11f6cecf2961328f63074385aeebbccf34f1b5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kalarm-21.04.3.tar.xz">kalarm-21.04.3</a></td>
   <td align="right">2087kB</td>
   <td><tt>9aaecb9ddcef5372c37f5d2bc16b273c0591fc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kalarmcal-21.04.3.tar.xz">kalarmcal-21.04.3</a></td>
   <td align="right">614kB</td>
   <td><tt>7613fc2968af86f495cbac9df37e20ec8effd804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kalgebra-21.04.3.tar.xz">kalgebra-21.04.3</a></td>
   <td align="right">1001kB</td>
   <td><tt>b4cd4e12509a80763a42eccf01c21c795b3fefd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kalzium-21.04.3.tar.xz">kalzium-21.04.3</a></td>
   <td align="right">24013kB</td>
   <td><tt>feb0b195f08c42ec4a7d4fc60270703b7aa48860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kamera-21.04.3.tar.xz">kamera-21.04.3</a></td>
   <td align="right">112kB</td>
   <td><tt>0e9c77ae807b6415d9833b0bb3406a648212a7f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kamoso-21.04.3.tar.xz">kamoso-21.04.3</a></td>
   <td align="right">207kB</td>
   <td><tt>6ea59168244897b6be655ad2855f1134458770bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kanagram-21.04.3.tar.xz">kanagram-21.04.3</a></td>
   <td align="right">7851kB</td>
   <td><tt>20939509c52d04df0de9ed1bb6bc4f47e80680c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kapman-21.04.3.tar.xz">kapman-21.04.3</a></td>
   <td align="right">2472kB</td>
   <td><tt>587e9150da60293c451635056d182e78cf253210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kapptemplate-21.04.3.tar.xz">kapptemplate-21.04.3</a></td>
   <td align="right">326kB</td>
   <td><tt>85c5c82aea70da3baeb0be9ca56b58229fc1db6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kate-21.04.3.tar.xz">kate-21.04.3</a></td>
   <td align="right">7112kB</td>
   <td><tt>9a3336f428fa235a98b27479221630a8981cdd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/katomic-21.04.3.tar.xz">katomic-21.04.3</a></td>
   <td align="right">1400kB</td>
   <td><tt>7591db00a6a8a879bfef9d1ce64382f5192bb687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kbackup-21.04.3.tar.xz">kbackup-21.04.3</a></td>
   <td align="right">374kB</td>
   <td><tt>502589a54f15218a28e86081da712b235e7ce3db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kblackbox-21.04.3.tar.xz">kblackbox-21.04.3</a></td>
   <td align="right">444kB</td>
   <td><tt>45ced3c2e7d27793a04816e3680af0bde0222860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kblocks-21.04.3.tar.xz">kblocks-21.04.3</a></td>
   <td align="right">1867kB</td>
   <td><tt>2823ebc2dd98a0dfa75cc3131e397b8ec4fc5ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kbounce-21.04.3.tar.xz">kbounce-21.04.3</a></td>
   <td align="right">3366kB</td>
   <td><tt>be3059a0e78c664a58035fcb41f5e4e31dda5c5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kbreakout-21.04.3.tar.xz">kbreakout-21.04.3</a></td>
   <td align="right">2228kB</td>
   <td><tt>31bbbfdfbe7cc10beb019b91df27ff3578ed1882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kbruch-21.04.3.tar.xz">kbruch-21.04.3</a></td>
   <td align="right">5495kB</td>
   <td><tt>a1b1e9dfe5c9d652c93143276e5847ba87e0d37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kcachegrind-21.04.3.tar.xz">kcachegrind-21.04.3</a></td>
   <td align="right">834kB</td>
   <td><tt>4d1108b4297da88b008a1694857b512c94fff2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kcalc-21.04.3.tar.xz">kcalc-21.04.3</a></td>
   <td align="right">363kB</td>
   <td><tt>8145270bef04a40c319b4869086d71949e90bee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kcalutils-21.04.3.tar.xz">kcalutils-21.04.3</a></td>
   <td align="right">326kB</td>
   <td><tt>713d6ccbb4141cf69783c89f77c702b758d13cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kcharselect-21.04.3.tar.xz">kcharselect-21.04.3</a></td>
   <td align="right">359kB</td>
   <td><tt>2ca1e02572ec3e15c032a29b124bc3946b0877a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kcolorchooser-21.04.3.tar.xz">kcolorchooser-21.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>f265d29cd18ff26b033dcbb47a84e7a3244eb8a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kcron-21.04.3.tar.xz">kcron-21.04.3</a></td>
   <td align="right">890kB</td>
   <td><tt>19659baf943d145955f96027f6474f636f3ed3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdebugsettings-21.04.3.tar.xz">kdebugsettings-21.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>1acb35d96ac0f4504b277f90184ffebf8f6652d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdeconnect-kde-21.04.3.tar.xz">kdeconnect-kde-21.04.3</a></td>
   <td align="right">554kB</td>
   <td><tt>94e5e027f8286fea8a1a0af52efb914a1a030a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kde-dev-scripts-21.04.3.tar.xz">kde-dev-scripts-21.04.3</a></td>
   <td align="right">357kB</td>
   <td><tt>8f64cd4a675dbf245d18942c6b150f8e620843f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kde-dev-utils-21.04.3.tar.xz">kde-dev-utils-21.04.3</a></td>
   <td align="right">66kB</td>
   <td><tt>f77f7b7a0fb039d0e436fd5c9bae6b2e6dbc406a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdeedu-data-21.04.3.tar.xz">kdeedu-data-21.04.3</a></td>
   <td align="right">327kB</td>
   <td><tt>4ff65de24e7f012015d170888812289b6069dee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdegraphics-mobipocket-21.04.3.tar.xz">kdegraphics-mobipocket-21.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>e498feda7e5e052e04c4e1932dbd89f889633bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdegraphics-thumbnailers-21.04.3.tar.xz">kdegraphics-thumbnailers-21.04.3</a></td>
   <td align="right">46kB</td>
   <td><tt>252aa6db9165e16e4805fc965bc46e0bc705d441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdenetwork-filesharing-21.04.3.tar.xz">kdenetwork-filesharing-21.04.3</a></td>
   <td align="right">369kB</td>
   <td><tt>e3625a00823a78871858fc8237e22792bbc0d37b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdenlive-21.04.3.tar.xz">kdenlive-21.04.3</a></td>
   <td align="right">11498kB</td>
   <td><tt>0f15c6847b95129edf9c535c9b0efd8f3969d165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdepim-addons-21.04.3.tar.xz">kdepim-addons-21.04.3</a></td>
   <td align="right">2218kB</td>
   <td><tt>7f19d66756d3301a745602b4b145a01db4240bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdepim-runtime-21.04.3.tar.xz">kdepim-runtime-21.04.3</a></td>
   <td align="right">1779kB</td>
   <td><tt>c96c765897979ee0f461c99cc6e8947fb36d0684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdesdk-kioslaves-21.04.3.tar.xz">kdesdk-kioslaves-21.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>7cb1d5564147b5f4561488c6b31001184dee270e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdesdk-thumbnailers-21.04.3.tar.xz">kdesdk-thumbnailers-21.04.3</a></td>
   <td align="right">17kB</td>
   <td><tt>146570ee9306fb97d3059a054385a3b336289c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdf-21.04.3.tar.xz">kdf-21.04.3</a></td>
   <td align="right">461kB</td>
   <td><tt>a63e645a00dbea1ccff8fd0b24111e1a2e957986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdialog-21.04.3.tar.xz">kdialog-21.04.3</a></td>
   <td align="right">111kB</td>
   <td><tt>abbbffc7f478af99af0a2c215f0d47fff6792def</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kdiamond-21.04.3.tar.xz">kdiamond-21.04.3</a></td>
   <td align="right">4587kB</td>
   <td><tt>095fcf4fc46b52c23d3f4d12e0cd4718eb5a9d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/keditbookmarks-21.04.3.tar.xz">keditbookmarks-21.04.3</a></td>
   <td align="right">196kB</td>
   <td><tt>2eb2e2949aab7bb96a8f343ed8b09ddd7b42a0d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kfind-21.04.3.tar.xz">kfind-21.04.3</a></td>
   <td align="right">277kB</td>
   <td><tt>81ede3eeabb63e25d12512c98fe8cfa8afdde20c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kfloppy-21.04.3.tar.xz">kfloppy-21.04.3</a></td>
   <td align="right">205kB</td>
   <td><tt>a2441577f30f570ea1dae4af7dded8fc3d6d1cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kfourinline-21.04.3.tar.xz">kfourinline-21.04.3</a></td>
   <td align="right">635kB</td>
   <td><tt>85941aff1f99a56924305aedc669b64cc2887876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kgeography-21.04.3.tar.xz">kgeography-21.04.3</a></td>
   <td align="right">10743kB</td>
   <td><tt>62736fc0b2c67fedf44d32383f5c85a3e4dab44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kget-21.04.3.tar.xz">kget-21.04.3</a></td>
   <td align="right">5504kB</td>
   <td><tt>477b3f4ef17c04cf19be39ba1a85aad4a3ef2dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kgoldrunner-21.04.3.tar.xz">kgoldrunner-21.04.3</a></td>
   <td align="right">4383kB</td>
   <td><tt>5b6d97a6f26d1d079aad7d89c50545650d4efd5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kgpg-21.04.3.tar.xz">kgpg-21.04.3</a></td>
   <td align="right">2868kB</td>
   <td><tt>4b76935fb697411699a63aa0ba9f41d784a8089c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/khangman-21.04.3.tar.xz">khangman-21.04.3</a></td>
   <td align="right">7255kB</td>
   <td><tt>a445c04a5238780303eb8d6ea81e120c88af9287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/khelpcenter-21.04.3.tar.xz">khelpcenter-21.04.3</a></td>
   <td align="right">4178kB</td>
   <td><tt>452cba7c94d24d6a43af528a9799f030ce846813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kidentitymanagement-21.04.3.tar.xz">kidentitymanagement-21.04.3</a></td>
   <td align="right">153kB</td>
   <td><tt>b0ff5ff8f1c319e193378c866b80a9f14ac0ceba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kig-21.04.3.tar.xz">kig-21.04.3</a></td>
   <td align="right">3092kB</td>
   <td><tt>d2b4b45801917d4616c99cd81b604cea285f77c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kigo-21.04.3.tar.xz">kigo-21.04.3</a></td>
   <td align="right">5122kB</td>
   <td><tt>4fd48b2bc20d01c15114d7a558fc0577c2129568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/killbots-21.04.3.tar.xz">killbots-21.04.3</a></td>
   <td align="right">1158kB</td>
   <td><tt>688c0cff572bbc88dea37bde33111e5353e629c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kimagemapeditor-21.04.3.tar.xz">kimagemapeditor-21.04.3</a></td>
   <td align="right">1063kB</td>
   <td><tt>3d104d026ef0819de62421481dc1e30cbf343a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kimap-21.04.3.tar.xz">kimap-21.04.3</a></td>
   <td align="right">125kB</td>
   <td><tt>0b24869e3076b19c1dfc1d4e2815bfbea25acccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kio-extras-21.04.3.tar.xz">kio-extras-21.04.3</a></td>
   <td align="right">647kB</td>
   <td><tt>b958376f3a5dcd91b476308829c854ecd816c0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kio-gdrive-21.04.3.tar.xz">kio-gdrive-21.04.3</a></td>
   <td align="right">66kB</td>
   <td><tt>ecc80970dbddbfd29c74e5378c7713217296d38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kipi-plugins-21.04.3.tar.xz">kipi-plugins-21.04.3</a></td>
   <td align="right">1615kB</td>
   <td><tt>6654f4258c97a8b11e8080995a180617ed89ce4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kirigami-gallery-21.04.3.tar.xz">kirigami-gallery-21.04.3</a></td>
   <td align="right">321kB</td>
   <td><tt>4f2ad93cb60b5c9b917b4ae3f2c25b438e7f226a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kiriki-21.04.3.tar.xz">kiriki-21.04.3</a></td>
   <td align="right">370kB</td>
   <td><tt>e1ef6621369aac1a91f5272999a953762e8d621d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kiten-21.04.3.tar.xz">kiten-21.04.3</a></td>
   <td align="right">11047kB</td>
   <td><tt>6c8640da171dbab9ce971f7dcb848b7925c03cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kitinerary-21.04.3.tar.xz">kitinerary-21.04.3</a></td>
   <td align="right">1780kB</td>
   <td><tt>38973339749b0516f8499d848f73a0c42c09b203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kjumpingcube-21.04.3.tar.xz">kjumpingcube-21.04.3</a></td>
   <td align="right">288kB</td>
   <td><tt>8a35812f2ade6c1d7f5394725e0a5f6355ba364f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kldap-21.04.3.tar.xz">kldap-21.04.3</a></td>
   <td align="right">168kB</td>
   <td><tt>ad2d2c80d0fbb2841f427323f689d32df9abc3a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kleopatra-21.04.3.tar.xz">kleopatra-21.04.3</a></td>
   <td align="right">2069kB</td>
   <td><tt>8aa46b8671a4e8e50a7006873419da2558b177c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/klettres-21.04.3.tar.xz">klettres-21.04.3</a></td>
   <td align="right">46032kB</td>
   <td><tt>b390ec40fd908bb5230103c3a22252713053f351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/klickety-21.04.3.tar.xz">klickety-21.04.3</a></td>
   <td align="right">1361kB</td>
   <td><tt>1f66c5198c47c49517f455c6f33f008aa818279f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/klines-21.04.3.tar.xz">klines-21.04.3</a></td>
   <td align="right">1752kB</td>
   <td><tt>9495b896ce87e8c3ce3f7f01a442836ca124fd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmag-21.04.3.tar.xz">kmag-21.04.3</a></td>
   <td align="right">689kB</td>
   <td><tt>5b9f14e397dcfd11fa3404fc06b4a6837997c976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmahjongg-21.04.3.tar.xz">kmahjongg-21.04.3</a></td>
   <td align="right">3359kB</td>
   <td><tt>66443b35ed782e6d2a40a09260077723f56ae09b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmail-21.04.3.tar.xz">kmail-21.04.3</a></td>
   <td align="right">6333kB</td>
   <td><tt>00786531d9e473303172cfb8a48c5807f194c78f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmail-account-wizard-21.04.3.tar.xz">kmail-account-wizard-21.04.3</a></td>
   <td align="right">162kB</td>
   <td><tt>1c32d6a87b181116ca5a65195b5139d546a00007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmailtransport-21.04.3.tar.xz">kmailtransport-21.04.3</a></td>
   <td align="right">170kB</td>
   <td><tt>ad13014c6d205d637a11f306d999980ca7ba3008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmbox-21.04.3.tar.xz">kmbox-21.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>df5d5fa15739cad083fa10b911ff4720e57d50b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmime-21.04.3.tar.xz">kmime-21.04.3</a></td>
   <td align="right">151kB</td>
   <td><tt>d65accb5c7f1d335467f1748b0815e11b8fe9e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmines-21.04.3.tar.xz">kmines-21.04.3</a></td>
   <td align="right">942kB</td>
   <td><tt>30f7af24bbc24e6a73db0e2ce21f8daf30f6562d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmix-21.04.3.tar.xz">kmix-21.04.3</a></td>
   <td align="right">1134kB</td>
   <td><tt>ab18e7b9ada7ff889bd284224cfb553de141c418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmousetool-21.04.3.tar.xz">kmousetool-21.04.3</a></td>
   <td align="right">117kB</td>
   <td><tt>d787d1bd1a21c7fe3efce20c499c7986501c3d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmouth-21.04.3.tar.xz">kmouth-21.04.3</a></td>
   <td align="right">2050kB</td>
   <td><tt>0cf1a6bc1ff853abf87d05222ff2d6f90d4ad29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kmplot-21.04.3.tar.xz">kmplot-21.04.3</a></td>
   <td align="right">2972kB</td>
   <td><tt>ed9f370d841727f05994b79925bfd2ef242ce48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/knavalbattle-21.04.3.tar.xz">knavalbattle-21.04.3</a></td>
   <td align="right">1343kB</td>
   <td><tt>c6b15f86accd7c42b8b4364396065a5a5ac47d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/knetwalk-21.04.3.tar.xz">knetwalk-21.04.3</a></td>
   <td align="right">1241kB</td>
   <td><tt>69ffece8b6cad20541438cd11f5bff7643b67d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/knights-21.04.3.tar.xz">knights-21.04.3</a></td>
   <td align="right">3453kB</td>
   <td><tt>39e71b68623ce15e129ee75336c5958f6794e5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/knotes-21.04.3.tar.xz">knotes-21.04.3</a></td>
   <td align="right">335kB</td>
   <td><tt>8fce77fa1ca9ce47794289762e7aac5cd263d132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kolf-21.04.3.tar.xz">kolf-21.04.3</a></td>
   <td align="right">1016kB</td>
   <td><tt>19a2832388ac2e918053d9bfa7520636045b8e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kollision-21.04.3.tar.xz">kollision-21.04.3</a></td>
   <td align="right">283kB</td>
   <td><tt>29f2c777f8aefa270e90f27f651226a1e9721489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kolourpaint-21.04.3.tar.xz">kolourpaint-21.04.3</a></td>
   <td align="right">5580kB</td>
   <td><tt>e428d2b3f2c898f214e26711f3d9fd8f01eafffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kompare-21.04.3.tar.xz">kompare-21.04.3</a></td>
   <td align="right">928kB</td>
   <td><tt>9b0512c82c7617503887aff0d51f0255929631f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/konqueror-21.04.3.tar.xz">konqueror-21.04.3</a></td>
   <td align="right">7236kB</td>
   <td><tt>5e4615afab0ce29abc4e0cc5058b9456b108b1f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/konquest-21.04.3.tar.xz">konquest-21.04.3</a></td>
   <td align="right">655kB</td>
   <td><tt>7a3813107cdacf5acc448f95f8031be78166ea25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/konsole-21.04.3.tar.xz">konsole-21.04.3</a></td>
   <td align="right">1305kB</td>
   <td><tt>ec50f33271a5ca5cb56304c91adea62211cc3e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kontact-21.04.3.tar.xz">kontact-21.04.3</a></td>
   <td align="right">791kB</td>
   <td><tt>dceb7f2ed5d1726c02c9af40e40c00d1d42f9f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kontactinterface-21.04.3.tar.xz">kontactinterface-21.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>c5215f33a4601499870fa7b817f4578cfd21eff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kontrast-21.04.3.tar.xz">kontrast-21.04.3</a></td>
   <td align="right">120kB</td>
   <td><tt>d6f1b5bb2a413b56ed779d2df801d2f3a11f181c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/konversation-21.04.3.tar.xz">konversation-21.04.3</a></td>
   <td align="right">4152kB</td>
   <td><tt>b87a39d4da183ab7d27937c90953f226df99550f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kopeninghours-21.04.3.tar.xz">kopeninghours-21.04.3</a></td>
   <td align="right">61kB</td>
   <td><tt>1bbe04cbbf449f206dee3c08104ea85a0829deab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kopete-21.04.3.tar.xz">kopete-21.04.3</a></td>
   <td align="right">9437kB</td>
   <td><tt>91cd0934d6d6d3f78cc55ca206ea84662f18591c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/korganizer-21.04.3.tar.xz">korganizer-21.04.3</a></td>
   <td align="right">2351kB</td>
   <td><tt>17f4078fbce08f375c74ba22ddf521f9d3443929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kosmindoormap-21.04.3.tar.xz">kosmindoormap-21.04.3</a></td>
   <td align="right">329kB</td>
   <td><tt>48c0486ab81acfe3486ca1af41eac0dc995ad78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kpat-21.04.3.tar.xz">kpat-21.04.3</a></td>
   <td align="right">3572kB</td>
   <td><tt>9c814d7deb460cd30c99fb0e741cd6d262584390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kpimtextedit-21.04.3.tar.xz">kpimtextedit-21.04.3</a></td>
   <td align="right">201kB</td>
   <td><tt>99452398843e0f14813f63eab989b49f193926ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kpkpass-21.04.3.tar.xz">kpkpass-21.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>f2ceaa2fcf3ef8234b46359f215c4d60eb1db4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kpmcore-21.04.3.tar.xz">kpmcore-21.04.3</a></td>
   <td align="right">572kB</td>
   <td><tt>600799d1408d36a57a7bb209a98f5f05916d0cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kpublictransport-21.04.3.tar.xz">kpublictransport-21.04.3</a></td>
   <td align="right">383kB</td>
   <td><tt>71b1306a77f66a6a0b13b1253f5b745740efffd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kqtquickcharts-21.04.3.tar.xz">kqtquickcharts-21.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>a4eaa81ceb7e572bfcee3583895d59f7c9536712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/krdc-21.04.3.tar.xz">krdc-21.04.3</a></td>
   <td align="right">1547kB</td>
   <td><tt>5a916897d2950bd4fc8a6beef74435f8f693d493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kreversi-21.04.3.tar.xz">kreversi-21.04.3</a></td>
   <td align="right">939kB</td>
   <td><tt>2c52058c6634e0670f399f4ddd0319147ac8366b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/krfb-21.04.3.tar.xz">krfb-21.04.3</a></td>
   <td align="right">1262kB</td>
   <td><tt>91907765027c869f5822ecffd5c8d5da99e3bd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kross-interpreters-21.04.3.tar.xz">kross-interpreters-21.04.3</a></td>
   <td align="right">148kB</td>
   <td><tt>eb64148d04bbac477defa80fef05d11a610fef7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kruler-21.04.3.tar.xz">kruler-21.04.3</a></td>
   <td align="right">269kB</td>
   <td><tt>fc2cd50bb56c04e9d2d3a6d7a469b5d1a163440c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kshisen-21.04.3.tar.xz">kshisen-21.04.3</a></td>
   <td align="right">812kB</td>
   <td><tt>13f3ebe82f9a1484bff39e6dfa953436bc701272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ksirk-21.04.3.tar.xz">ksirk-21.04.3</a></td>
   <td align="right">6833kB</td>
   <td><tt>5e10a9749352c82f9f5a52602c5681d2c12e9d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ksmtp-21.04.3.tar.xz">ksmtp-21.04.3</a></td>
   <td align="right">46kB</td>
   <td><tt>f2fb588d94fb987cf1ae9fa0effd6ec0c0ad540a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ksnakeduel-21.04.3.tar.xz">ksnakeduel-21.04.3</a></td>
   <td align="right">531kB</td>
   <td><tt>b675808c0351695b8162f21c1175ebcba4f8043c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kspaceduel-21.04.3.tar.xz">kspaceduel-21.04.3</a></td>
   <td align="right">607kB</td>
   <td><tt>b9326839fda2b501e9793ee973369914ebc05097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ksquares-21.04.3.tar.xz">ksquares-21.04.3</a></td>
   <td align="right">261kB</td>
   <td><tt>d566aa37537702473be9eb4db2c6ed231c474db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ksudoku-21.04.3.tar.xz">ksudoku-21.04.3</a></td>
   <td align="right">1640kB</td>
   <td><tt>7c3f0918a3db33cfe8890129899f21328c939429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ksystemlog-21.04.3.tar.xz">ksystemlog-21.04.3</a></td>
   <td align="right">1912kB</td>
   <td><tt>6000567b9c11d2034556dd808b3a6926047ed72b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kteatime-21.04.3.tar.xz">kteatime-21.04.3</a></td>
   <td align="right">291kB</td>
   <td><tt>28a98322b86d62b04bb1bb5119b911fc48498daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktimer-21.04.3.tar.xz">ktimer-21.04.3</a></td>
   <td align="right">378kB</td>
   <td><tt>08e6c5a3f6dc34b486093b7cf918e0a2a917f8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktnef-21.04.3.tar.xz">ktnef-21.04.3</a></td>
   <td align="right">299kB</td>
   <td><tt>19502aadf5a123f9d5a48e480d9ecbe13fa9b38e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktorrent-21.04.3.tar.xz">ktorrent-21.04.3</a></td>
   <td align="right">2042kB</td>
   <td><tt>05ddcb3a4f54ed66942d6c02802685586a8b1f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktouch-21.04.3.tar.xz">ktouch-21.04.3</a></td>
   <td align="right">4846kB</td>
   <td><tt>49773bcca724bdaec964bf5d476fc1c77c750e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-accounts-kcm-21.04.3.tar.xz">ktp-accounts-kcm-21.04.3</a></td>
   <td align="right">259kB</td>
   <td><tt>2c84d022b0604652dc64dde2ecb223c4a5794b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-approver-21.04.3.tar.xz">ktp-approver-21.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>af17ce20f6da17371cd7d00d072f94b3ea72f0d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-auth-handler-21.04.3.tar.xz">ktp-auth-handler-21.04.3</a></td>
   <td align="right">46kB</td>
   <td><tt>24bd819de7d880fff1a822d0dfa1643fcbb04c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-call-ui-21.04.3.tar.xz">ktp-call-ui-21.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>f4858568f831892aaa715944ffe8aa5ab7258daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-common-internals-21.04.3.tar.xz">ktp-common-internals-21.04.3</a></td>
   <td align="right">440kB</td>
   <td><tt>0a00c6114bd0fed5ad68f75ca7e95bcbd8dc5ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-contact-list-21.04.3.tar.xz">ktp-contact-list-21.04.3</a></td>
   <td align="right">149kB</td>
   <td><tt>7fac440fedef735ff766126ef6d0a55b902ec84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-contact-runner-21.04.3.tar.xz">ktp-contact-runner-21.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>c90d919dc85784872c518be9b5eeddbcf6c12881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-desktop-applets-21.04.3.tar.xz">ktp-desktop-applets-21.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>bc16db118290a9804b51208ddeb5a3a7865cbe94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-filetransfer-handler-21.04.3.tar.xz">ktp-filetransfer-handler-21.04.3</a></td>
   <td align="right">45kB</td>
   <td><tt>4ddb4e381eeb117e5168818e40ed2165240e0346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-kded-module-21.04.3.tar.xz">ktp-kded-module-21.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>99bf1fa398703b770894865da6a585e255f0bcb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-send-file-21.04.3.tar.xz">ktp-send-file-21.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>b30396d5bb0df1a22147bbc03b524a6319aa8d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktp-text-ui-21.04.3.tar.xz">ktp-text-ui-21.04.3</a></td>
   <td align="right">463kB</td>
   <td><tt>9a0d678c4cd6175d452b9dba6637a72f150221de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/ktuberling-21.04.3.tar.xz">ktuberling-21.04.3</a></td>
   <td align="right">69096kB</td>
   <td><tt>080fcdd45255f6f220dd6aee7b858da3b5051a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kturtle-21.04.3.tar.xz">kturtle-21.04.3</a></td>
   <td align="right">1924kB</td>
   <td><tt>8059e04c6e2ea2be19569ba7e444e11e9c1fce37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kubrick-21.04.3.tar.xz">kubrick-21.04.3</a></td>
   <td align="right">335kB</td>
   <td><tt>e54c1fc20d4fc8cdf8a6eb9570bce4b991819092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kwalletmanager-21.04.3.tar.xz">kwalletmanager-21.04.3</a></td>
   <td align="right">777kB</td>
   <td><tt>29cfdb2fe9500d532ef6659e9af98f03703926e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kwave-21.04.3.tar.xz">kwave-21.04.3</a></td>
   <td align="right">6737kB</td>
   <td><tt>903019f954f94f9d713f4fdb18cc48ce992a4349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/kwordquiz-21.04.3.tar.xz">kwordquiz-21.04.3</a></td>
   <td align="right">4109kB</td>
   <td><tt>9ef46f0d47574ba9e046cf1ee80a61384c1498c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libgravatar-21.04.3.tar.xz">libgravatar-21.04.3</a></td>
   <td align="right">34kB</td>
   <td><tt>90ad1191bdefcad56812bd97aba6c272b2010103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkcddb-21.04.3.tar.xz">libkcddb-21.04.3</a></td>
   <td align="right">420kB</td>
   <td><tt>1abe21873bc40c3e525b0092db37a1256d9f09f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkcompactdisc-21.04.3.tar.xz">libkcompactdisc-21.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>0121e4d3e50dfbc6e3abf7690d6182348da60b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkdcraw-21.04.3.tar.xz">libkdcraw-21.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>faaf79d9b67bc5dd79729b92713f03ce8c852b48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkdegames-21.04.3.tar.xz">libkdegames-21.04.3</a></td>
   <td align="right">6253kB</td>
   <td><tt>b87f90fd12b75257861bbb55e2a258e5854170dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkdepim-21.04.3.tar.xz">libkdepim-21.04.3</a></td>
   <td align="right">247kB</td>
   <td><tt>8fa12b54c72544efbb191e7f9ca571c23f1e74fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkeduvocdocument-21.04.3.tar.xz">libkeduvocdocument-21.04.3</a></td>
   <td align="right">212kB</td>
   <td><tt>e7bac8aebf29ef081f09fede13b9bd4fb6058ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkexiv2-21.04.3.tar.xz">libkexiv2-21.04.3</a></td>
   <td align="right">58kB</td>
   <td><tt>e0194c4ab95e272d63ff692bfc468e9bf9af301c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkgapi-21.04.3.tar.xz">libkgapi-21.04.3</a></td>
   <td align="right">243kB</td>
   <td><tt>bf3c6c24c66aa180e76f51314d385cc711fca63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkipi-21.04.3.tar.xz">libkipi-21.04.3</a></td>
   <td align="right">100kB</td>
   <td><tt>cfbce1cce44be6b765396136d3b7d5b0f6c20417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkleo-21.04.3.tar.xz">libkleo-21.04.3</a></td>
   <td align="right">375kB</td>
   <td><tt>997a67e682292ee1cc2edb7a06a5c57eb862fa02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkmahjongg-21.04.3.tar.xz">libkmahjongg-21.04.3</a></td>
   <td align="right">1642kB</td>
   <td><tt>4f4c1fee58a91a227cb0f5eec62e25217a2a3197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libkomparediff2-21.04.3.tar.xz">libkomparediff2-21.04.3</a></td>
   <td align="right">168kB</td>
   <td><tt>33e155f4124f3accdb03de2048f30e18625d1fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libksane-21.04.3.tar.xz">libksane-21.04.3</a></td>
   <td align="right">141kB</td>
   <td><tt>6a5439ed5872cce70fa95d014d0404680da9d804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libksieve-21.04.3.tar.xz">libksieve-21.04.3</a></td>
   <td align="right">559kB</td>
   <td><tt>f314d428531833f1a8037cbfedb8f72880562aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/libktorrent-21.04.3.tar.xz">libktorrent-21.04.3</a></td>
   <td align="right">593kB</td>
   <td><tt>ebfaeea86e5be351eaddff2015014a51bfada2e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/lokalize-21.04.3.tar.xz">lokalize-21.04.3</a></td>
   <td align="right">1975kB</td>
   <td><tt>d9a7f46eafc2fa85aba9780299cd8b73e94c93fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/lskat-21.04.3.tar.xz">lskat-21.04.3</a></td>
   <td align="right">1200kB</td>
   <td><tt>bf0b78e29d708da41a956a1ea3af1036ec240c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/mailcommon-21.04.3.tar.xz">mailcommon-21.04.3</a></td>
   <td align="right">713kB</td>
   <td><tt>76a93752d506c47406293017c2c45c9eceeb83d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/mailimporter-21.04.3.tar.xz">mailimporter-21.04.3</a></td>
   <td align="right">546kB</td>
   <td><tt>62cf538563e711dded1012ed905fb667b090eb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/marble-21.04.3.tar.xz">marble-21.04.3</a></td>
   <td align="right">51158kB</td>
   <td><tt>2ac62a8ce8ec73c916665f6a783ce18dd9987875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/markdownpart-21.04.3.tar.xz">markdownpart-21.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>a0a5c2d15a66f0797e890f449a23da4e7414892a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/mbox-importer-21.04.3.tar.xz">mbox-importer-21.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>ed9653d91f55e7044b29794c2c35c697f51f7f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/messagelib-21.04.3.tar.xz">messagelib-21.04.3</a></td>
   <td align="right">10542kB</td>
   <td><tt>be646ba362af0c77682057d82d67d0d37cc6474c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/minuet-21.04.3.tar.xz">minuet-21.04.3</a></td>
   <td align="right">27076kB</td>
   <td><tt>4d8674e2f0949b4d9e5fe7b1b9965116819439c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/okular-21.04.3.tar.xz">okular-21.04.3</a></td>
   <td align="right">7863kB</td>
   <td><tt>cacfce36ca2f12b2175754055cf84d92f7e9d984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/palapeli-21.04.3.tar.xz">palapeli-21.04.3</a></td>
   <td align="right">2028kB</td>
   <td><tt>9594e8da34f93fa20b869fc246d4fe41188e5035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/parley-21.04.3.tar.xz">parley-21.04.3</a></td>
   <td align="right">8681kB</td>
   <td><tt>2d50f9acef79ebb639ea0a95c86fce4c0e366380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/partitionmanager-21.04.3.tar.xz">partitionmanager-21.04.3</a></td>
   <td align="right">2048kB</td>
   <td><tt>7233f005fd3a88b03c4915e3e996afc8785c8622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/picmi-21.04.3.tar.xz">picmi-21.04.3</a></td>
   <td align="right">1337kB</td>
   <td><tt>1b1d47f7e4133fcae0b711829200f1b894f074e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/pimcommon-21.04.3.tar.xz">pimcommon-21.04.3</a></td>
   <td align="right">360kB</td>
   <td><tt>16c96dcc2ea518e01a4f6490d186c0dfdff7b08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/pim-data-exporter-21.04.3.tar.xz">pim-data-exporter-21.04.3</a></td>
   <td align="right">389kB</td>
   <td><tt>cf2453d82757c0f3f8c76de965edb175ba890dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/pim-sieve-editor-21.04.3.tar.xz">pim-sieve-editor-21.04.3</a></td>
   <td align="right">447kB</td>
   <td><tt>ca2ce6d25b55968299d4abf4d51c80f34ea897f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/poxml-21.04.3.tar.xz">poxml-21.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>afbdfd703a02a4e9f0067fafc2899dfe23308e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/print-manager-21.04.3.tar.xz">print-manager-21.04.3</a></td>
   <td align="right">257kB</td>
   <td><tt>ed2dae448d5608c8f7810b3415a2698d5a8ccf9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/rocs-21.04.3.tar.xz">rocs-21.04.3</a></td>
   <td align="right">1511kB</td>
   <td><tt>8d6f6f40b7437b3e433e0af59208e5a43ad207b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/signon-kwallet-extension-21.04.3.tar.xz">signon-kwallet-extension-21.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>f6fcb69e27b7e25b7672609676620bce83852fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/spectacle-21.04.3.tar.xz">spectacle-21.04.3</a></td>
   <td align="right">1147kB</td>
   <td><tt>8407f9445e9fbdbc087dd38e41b4433e3402b5cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/step-21.04.3.tar.xz">step-21.04.3</a></td>
   <td align="right">956kB</td>
   <td><tt>93ffc045ee7b4115ee7e5927702b152275d4057b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/svgpart-21.04.3.tar.xz">svgpart-21.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>40e6496fc85be1f0beda85c958421bc04027600a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/sweeper-21.04.3.tar.xz">sweeper-21.04.3</a></td>
   <td align="right">367kB</td>
   <td><tt>2b3dd1650c130f786f04f93abe52b1dda0c4efb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/umbrello-21.04.3.tar.xz">umbrello-21.04.3</a></td>
   <td align="right">5517kB</td>
   <td><tt>339982fb74a9282363c20daf427b6a1e8c7c898f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/yakuake-21.04.3.tar.xz">yakuake-21.04.3</a></td>
   <td align="right">383kB</td>
   <td><tt>e85d6d45fa14563b14fcb80925bbb85caf378769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.3/src/zeroconf-ioslave-21.04.3.tar.xz">zeroconf-ioslave-21.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>49735c36f98738543be4db6ee8d871a7f3c305ce</tt></td>
</tr>

</table>
