<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdeaccessibility-4.5.2.tar.bz2">kdeaccessibility-4.5.2</a></td><td align="right">5,2MB</td><td><tt>545383a87da2aafc97dfbe6f737176a96e4e8d8d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdeadmin-4.5.2.tar.bz2">kdeadmin-4.5.2</a></td><td align="right">1,2MB</td><td><tt>d178f9d15269e990ccbd81defd132f7d9b1bdd5b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdeartwork-4.5.2.tar.bz2">kdeartwork-4.5.2</a></td><td align="right">106MB</td><td><tt>c7a23de4b866d2c852bd5917f2d12e37990bea71</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdebase-4.5.2.tar.bz2">kdebase-4.5.2</a></td><td align="right">2,6MB</td><td><tt>fb14022d7f47acc1cebce2da41d821945ec8de5c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdebase-runtime-4.5.2.tar.bz2">kdebase-runtime-4.5.2</a></td><td align="right">5,5MB</td><td><tt>6fca681da218e910caff538c1520e44ec8430c9d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdebase-workspace-4.5.2.tar.bz2">kdebase-workspace-4.5.2</a></td><td align="right">63MB</td><td><tt>0a2ef4f3391e94371481226374c609fb52587243</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdebindings-4.5.2.tar.bz2">kdebindings-4.5.2</a></td><td align="right">6,1MB</td><td><tt>108fd6e3dbb341adc0e90487d1b681534968f1d2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdeedu-4.5.2.tar.bz2">kdeedu-4.5.2</a></td><td align="right">63MB</td><td><tt>44f6cbb0029ae23b0aa6e16e0e6125ad07771be4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdegames-4.5.2.tar.bz2">kdegames-4.5.2</a></td><td align="right">56MB</td><td><tt>57414f18b5a3958d6661f36c48d2727d10ccb31f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdegraphics-4.5.2.tar.bz2">kdegraphics-4.5.2</a></td><td align="right">4,6MB</td><td><tt>e819cc1270023ae48669f488d11d24d7d1ca52c6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdelibs-4.5.2.tar.bz2">kdelibs-4.5.2</a></td><td align="right">14MB</td><td><tt>e5b3c643aa10275571be6a637333e8791ed013b6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdemultimedia-4.5.2.tar.bz2">kdemultimedia-4.5.2</a></td><td align="right">1,5MB</td><td><tt>457701505639cac9b5f3f1781a483a6ac35c7eba</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdenetwork-4.5.2.tar.bz2">kdenetwork-4.5.2</a></td><td align="right">7,8MB</td><td><tt>9ae99ef21bb56e254f1cab22338b597e7734e734</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdepimlibs-4.5.2.tar.bz2">kdepimlibs-4.5.2</a></td><td align="right">2,6MB</td><td><tt>5b611f75165201f49a9f6dfb42b75c5e73db0ff9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdeplasma-addons-4.5.2.tar.bz2">kdeplasma-addons-4.5.2</a></td><td align="right">1,7MB</td><td><tt>8a55d5009112b41c7cd9268b0dcbe7a6af74368e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdesdk-4.5.2.tar.bz2">kdesdk-4.5.2</a></td><td align="right">5,5MB</td><td><tt>8732dd0460e17bfdcfe6b9be467a90de14143cc1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdetoys-4.5.2.tar.bz2">kdetoys-4.5.2</a></td><td align="right">396KB</td><td><tt>1072dd5c01467e8650237a8e0585e8e4ece9df8b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdeutils-4.5.2.tar.bz2">kdeutils-4.5.2</a></td><td align="right">3,7MB</td><td><tt>87e0124d8895d9dbabfa7b85b65c32d4f07a7408</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/kdewebdev-4.5.2.tar.bz2">kdewebdev-4.5.2</a></td><td align="right">2,2MB</td><td><tt>35b99ed192760b8689dc647ae39e96308062081b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.2/src/oxygen-icons-4.5.2.tar.bz2">oxygen-icons-4.5.2</a></td><td align="right">136MB</td><td><tt>17cca8a69fda5f0e1cb709824ccf83baae3648a0</tt></td></tr>
</table>
