<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/bluedevil-5.18.90.tar.xz">bluedevil-5.18.90</a></td>
   <td align="right">164kB</td>
   <td><tt>a9fe263bfad209e4ddc64a6307cd1275a33cb6356009c0ea7a50f000d807b4d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/breeze-5.18.90.tar.xz">breeze-5.18.90</a></td>
   <td align="right">21MB</td>
   <td><tt>35ce9ce202be6f735e2689eac6d444dc337b40e0d201941e0aec2fa859a7f99f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/breeze-grub-5.18.90.tar.xz">breeze-grub-5.18.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2d011f11e4d5245ec3739f194904819415f767af08ad4e4a97bfd904dad8d7f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/breeze-gtk-5.18.90.tar.xz">breeze-gtk-5.18.90</a></td>
   <td align="right">41kB</td>
   <td><tt>ab6184901684803cc649d2136579eb6ae46185ea2da688d929b15510bb0c5b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/breeze-plymouth-5.18.90.tar.xz">breeze-plymouth-5.18.90</a></td>
   <td align="right">103kB</td>
   <td><tt>3b85b2b2e721c59528a62ec8f1fc49bebeb138713c1c8850eb8a75715c45e46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/discover-5.18.90.tar.xz">discover-5.18.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d666e84a2bd3fa5e085906929f0fd16cf4196da22df8011b64e656a883a4e6fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/drkonqi-5.18.90.tar.xz">drkonqi-5.18.90</a></td>
   <td align="right">729kB</td>
   <td><tt>e8d5753a4946bda8734e9354319f888728e886ce32092b6795b8305c59b05d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kactivitymanagerd-5.18.90.tar.xz">kactivitymanagerd-5.18.90</a></td>
   <td align="right">83kB</td>
   <td><tt>5a6a3246924cc95706a517ba44eefc130f134179a33499682b0343f583cb767c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kde-cli-tools-5.18.90.tar.xz">kde-cli-tools-5.18.90</a></td>
   <td align="right">586kB</td>
   <td><tt>585f23c17e506264e0abf541083411068f78a67b3fcfa9410f4fc8283dd51b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kdecoration-5.18.90.tar.xz">kdecoration-5.18.90</a></td>
   <td align="right">42kB</td>
   <td><tt>bc1e3026abc6e8f91394ac7873cf4af93ab242f28feaca1673fe97e62f1d2375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kde-gtk-config-5.18.90.tar.xz">kde-gtk-config-5.18.90</a></td>
   <td align="right">25kB</td>
   <td><tt>230f6138b195827340dc0aac6bcf1224404c5711a84f73bba693480a5c08821f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kdeplasma-addons-5.18.90.tar.xz">kdeplasma-addons-5.18.90</a></td>
   <td align="right">614kB</td>
   <td><tt>11372891a5b1b72e0cb826ce08dd77ed40ba4ddb2df1b4c11cd212aaf1956414</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kgamma5-5.18.90.tar.xz">kgamma5-5.18.90</a></td>
   <td align="right">78kB</td>
   <td><tt>48235ae6ec17043443b3c637ad0d53aae6a7cc8ecd044a6f4ac225cc637ec733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/khotkeys-5.18.90.tar.xz">khotkeys-5.18.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>85b8772d7970d45ca1e1cac195b3f67e4360e5acd96858f3075942b18b7b938f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kinfocenter-5.18.90.tar.xz">kinfocenter-5.18.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c85f0c380e8074bdf91b645621750d5449d6915ec1d0553f30ef83a66a83174b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kmenuedit-5.18.90.tar.xz">kmenuedit-5.18.90</a></td>
   <td align="right">876kB</td>
   <td><tt>11b10f082abdee561fc51a2ad5e057ef3f35ab1d90df4eb1f3115c579a4c0437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kscreen-5.18.90.tar.xz">kscreen-5.18.90</a></td>
   <td align="right">112kB</td>
   <td><tt>35ff45f856bbb01c0b367fcc58eeef5459b6d1a39ee019bc96580d781d3fde4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kscreenlocker-5.18.90.tar.xz">kscreenlocker-5.18.90</a></td>
   <td align="right">123kB</td>
   <td><tt>8ccb375b1889eb460b2d9afddf79a34b036e9e9971c10cfe0edb2696ceef20a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/ksshaskpass-5.18.90.tar.xz">ksshaskpass-5.18.90</a></td>
   <td align="right">22kB</td>
   <td><tt>e46ecbffad5b63b2aee9dcaf6e8f0ddb61334e0c5098440ec9dbdcfc1a19941b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/ksysguard-5.18.90.tar.xz">ksysguard-5.18.90</a></td>
   <td align="right">519kB</td>
   <td><tt>6860e4be7c22740af48d6afe62adef5a2adc5e165a48c2f124795d8e22f096a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kwallet-pam-5.18.90.tar.xz">kwallet-pam-5.18.90</a></td>
   <td align="right">19kB</td>
   <td><tt>456ac2633f713abd4ad4707a4483a0545258e88fe1dff74ff84d7f25515a65f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kwayland-integration-5.18.90.tar.xz">kwayland-integration-5.18.90</a></td>
   <td align="right">20kB</td>
   <td><tt>20e1049c597ccf92d14f0d18310ac7b1990fdfd27864ab2bf3f2fdd69275c49d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kwayland-server-5.18.90.tar.xz">kwayland-server-5.18.90</a></td>
   <td align="right">224kB</td>
   <td><tt>99eafcb852ff5ef20d1d4dda67bbd0b1d001889d2c2e1550d2606c0c65cffca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kwin-5.18.90.tar.xz">kwin-5.18.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ed76d7d86f97c852f2e0b191aa0b4e644d9c4879fd5a0fcb4411d7fda5597c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/kwrited-5.18.90.tar.xz">kwrited-5.18.90</a></td>
   <td align="right">19kB</td>
   <td><tt>8a69b0ba334469354df527b734ef4c51c637b4c16f513978ccb9bcd83655570d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/libkscreen-5.18.90.tar.xz">libkscreen-5.18.90</a></td>
   <td align="right">83kB</td>
   <td><tt>078b332ae875af860781d97215d54f2140e96ead9e06b5ae6d129148bf6fca05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/libksysguard-5.18.90.tar.xz">libksysguard-5.18.90</a></td>
   <td align="right">643kB</td>
   <td><tt>7066cdf151dd3fee8844ec90285d5412684a2be534aa672fa453dcb13e9134f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/milou-5.18.90.tar.xz">milou-5.18.90</a></td>
   <td align="right">62kB</td>
   <td><tt>5c8280dcdf371d144f9b2289d17b30e73d823299a5c33bfce4fcea72d01e97fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/oxygen-5.18.90.tar.xz">oxygen-5.18.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0e05943ff67ed68e61cb9f49aa400dbebc3c69d710f4b1dadc468f85d783857f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-browser-integration-5.18.90.tar.xz">plasma-browser-integration-5.18.90</a></td>
   <td align="right">155kB</td>
   <td><tt>c896bd9340b2217f641df4e145f2750548cdd4db54d8e429083f4c31754aa7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-desktop-5.18.90.tar.xz">plasma-desktop-5.18.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>503f1e20e087b83deeb3bfd4c3f34ded58dcd118fb955e5d5086418cb761775a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-integration-5.18.90.tar.xz">plasma-integration-5.18.90</a></td>
   <td align="right">56kB</td>
   <td><tt>48da11a62cfffe80a9ad736de14bcdf8236275a2e1bc05e6089cbb9361ba45d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-nano-5.18.90.tar.xz">plasma-nano-5.18.90</a></td>
   <td align="right">31kB</td>
   <td><tt>c5bf8e361720e5c0bf16ba5d25096587a225bc3978f9585d15fbfbf385f55a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-nm-5.18.90.tar.xz">plasma-nm-5.18.90</a></td>
   <td align="right">831kB</td>
   <td><tt>fc588f5eb8881f3a431e90da8dee174f19763330a5d91484d45d3d197fae5486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-pa-5.18.90.tar.xz">plasma-pa-5.18.90</a></td>
   <td align="right">105kB</td>
   <td><tt>2c269ef209724cf83f8a1d136fe7b17bf2bc5f789c0dc2c60c3f3ebd4d1a94d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-phone-components-5.18.90.tar.xz">plasma-phone-components-5.18.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>559af5b9ce4e419122a35653ae3b91ee691b7d060a84085c0ebb9041b49a7aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-sdk-5.18.90.tar.xz">plasma-sdk-5.18.90</a></td>
   <td align="right">257kB</td>
   <td><tt>4362db97d7c981e49a18efece14a2ca02414421f7139d29dd5cc757e0a1a31b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-tests-5.18.90.tar.xz">plasma-tests-5.18.90</a></td>
   <td align="right">1kB</td>
   <td><tt>642a8b652bc493668c7ee2a1b73de672bc9aca2a255d7a90d7414ac42b079c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-thunderbolt-5.18.90.tar.xz">plasma-thunderbolt-5.18.90</a></td>
   <td align="right">50kB</td>
   <td><tt>7f23567ab9928426db327da8fa28662d9e39fa65c7182acc835950dcf644851f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-vault-5.18.90.tar.xz">plasma-vault-5.18.90</a></td>
   <td align="right">140kB</td>
   <td><tt>354e1b264f45e9aafe23e0b6bfd09b0d3550c4d1c041f1f0b3ae1aa62b5b7144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-workspace-5.18.90.tar.xz">plasma-workspace-5.18.90</a></td>
   <td align="right">5.4MB</td>
   <td><tt>3c4a812d2f8a2179027d52726d320b868408aea218f2f14c04f751faf98204c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plasma-workspace-wallpapers-5.18.90.tar.xz">plasma-workspace-wallpapers-5.18.90</a></td>
   <td align="right">39MB</td>
   <td><tt>3bee2630ac3e6cd18fa965d217a295aac85094919406ab218320b59c06751282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/plymouth-kcm-5.18.90.tar.xz">plymouth-kcm-5.18.90</a></td>
   <td align="right">40kB</td>
   <td><tt>7c1ed9f61bfd54e46cf441d1fe5e0a817a9dd02a4298f7aa335347f2f8fc2825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/polkit-kde-agent-1-5.18.90.tar.xz">polkit-kde-agent-1-5.18.90</a></td>
   <td align="right">43kB</td>
   <td><tt>1a1628a331619fd6928e54eaa5bf6d9fc5f8a3864fa321aad94ebc7e1d9c0e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/powerdevil-5.18.90.tar.xz">powerdevil-5.18.90</a></td>
   <td align="right">586kB</td>
   <td><tt>79efc98cb8f30cc1ab91d7a6c8fdf4781e7bb7ee376344d8d7ceca62ac11175b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/sddm-kcm-5.18.90.tar.xz">sddm-kcm-5.18.90</a></td>
   <td align="right">61kB</td>
   <td><tt>8b09176b873720e7dfcf5c16ae7b3d1a6af4c9d06449e76eb21d9ebffaad9e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/systemsettings-5.18.90.tar.xz">systemsettings-5.18.90</a></td>
   <td align="right">178kB</td>
   <td><tt>8c0f43529ba67c76488776f8949c26a8295e336c68eb85656a78a04883fd6709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/user-manager-5.18.90.tar.xz">user-manager-5.18.90</a></td>
   <td align="right">9.4MB</td>
   <td><tt>05288d1ae54970ef0fbef64dba5eee325b16d6eae5481a21884bac8bf5b722f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.18.90/xdg-desktop-portal-kde-5.18.90.tar.xz">xdg-desktop-portal-kde-5.18.90</a></td>
   <td align="right">74kB</td>
   <td><tt>ec455db6098dbe6c832872331ae6f9fcd066e4473b79e027c7091b17ca56f8f9</tt></td>
</tr>

</table>
