
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/attica-5.16.0.tar.xz">attica-5.16.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f91a9827011a7d926c4de1779693281c7b459dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/baloo-5.16.0.tar.xz">baloo-5.16.0</a></td>
   <td align="right">173kB</td>
   <td><tt>05b3f65aa568b50703cc607d456b5ca03ab8d7f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/bluez-qt-5.16.0.tar.xz">bluez-qt-5.16.0</a></td>
   <td align="right">71kB</td>
   <td><tt>9457a3a734011cde22d4660857d4d92344ea149b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/breeze-icons-5.16.0.tar.xz">breeze-icons-5.16.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f5deeb883d9172b7fde1a0618ab28be0b8e66cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/extra-cmake-modules-5.16.0.tar.xz">extra-cmake-modules-5.16.0</a></td>
   <td align="right">133kB</td>
   <td><tt>77f1fe2a0faac3bf620dca785a4b50de8870e3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/frameworkintegration-5.16.0.tar.xz">frameworkintegration-5.16.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dd7882de1be546911a74f027ec70e94e390c0f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kactivities-5.16.0.tar.xz">kactivities-5.16.0</a></td>
   <td align="right">179kB</td>
   <td><tt>0bcb9b6fc708144f7a5f444b9d82378f503e72b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kapidox-5.16.0.tar.xz">kapidox-5.16.0</a></td>
   <td align="right">129kB</td>
   <td><tt>0939d5c404b9bd50cbfe97d05fba7cf93b3877d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/karchive-5.16.0.tar.xz">karchive-5.16.0</a></td>
   <td align="right">105kB</td>
   <td><tt>1198a2db75f0b776586fb798da4fd04a71b80229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kauth-5.16.0.tar.xz">kauth-5.16.0</a></td>
   <td align="right">80kB</td>
   <td><tt>eee85909007a3056e7f8e0bb47f6274a6bae5bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kbookmarks-5.16.0.tar.xz">kbookmarks-5.16.0</a></td>
   <td align="right">112kB</td>
   <td><tt>761de2a7beb019d7abc0b810b853f5311379e8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kcmutils-5.16.0.tar.xz">kcmutils-5.16.0</a></td>
   <td align="right">229kB</td>
   <td><tt>8bab1bff0304cbc29f841461929dacedce9dc0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kcodecs-5.16.0.tar.xz">kcodecs-5.16.0</a></td>
   <td align="right">212kB</td>
   <td><tt>ec8b31dee7f43d231b7bf2703be97831cb7bb337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kcompletion-5.16.0.tar.xz">kcompletion-5.16.0</a></td>
   <td align="right">113kB</td>
   <td><tt>d95458558d8bf58090ab08dfe270c16801b4f219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kconfig-5.16.0.tar.xz">kconfig-5.16.0</a></td>
   <td align="right">219kB</td>
   <td><tt>cc86a01c563e727208b330db8f22e8ed03e21c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kconfigwidgets-5.16.0.tar.xz">kconfigwidgets-5.16.0</a></td>
   <td align="right">350kB</td>
   <td><tt>fff8385b6b65e33bf9c7262a0727e0564a660697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kcoreaddons-5.16.0.tar.xz">kcoreaddons-5.16.0</a></td>
   <td align="right">302kB</td>
   <td><tt>41abe456bfffe752e5fd3add67ea57a8a69d8176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kcrash-5.16.0.tar.xz">kcrash-5.16.0</a></td>
   <td align="right">19kB</td>
   <td><tt>28c3d737c3146e8e61c7de82b5c32e29083da631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdbusaddons-5.16.0.tar.xz">kdbusaddons-5.16.0</a></td>
   <td align="right">33kB</td>
   <td><tt>f3bb28ed148f99c87121be97876a67be41ad7c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdeclarative-5.16.0.tar.xz">kdeclarative-5.16.0</a></td>
   <td align="right">161kB</td>
   <td><tt>5c1843fcf4f3022811a805690b794f9839e1b008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kded-5.16.0.tar.xz">kded-5.16.0</a></td>
   <td align="right">34kB</td>
   <td><tt>c67985715a8f27a6e64c5654fa675e84ffaa0e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdesignerplugin-5.16.0.tar.xz">kdesignerplugin-5.16.0</a></td>
   <td align="right">84kB</td>
   <td><tt>03a45863096f71133db7b17b8bee755468be5df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdesu-5.16.0.tar.xz">kdesu-5.16.0</a></td>
   <td align="right">42kB</td>
   <td><tt>09e0c86d921977ad8c2dc2cdf7f3ec81f6a830b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdewebkit-5.16.0.tar.xz">kdewebkit-5.16.0</a></td>
   <td align="right">28kB</td>
   <td><tt>cb0600fbce2e3a225ac0e4e56d4bc036dad5058f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdnssd-5.16.0.tar.xz">kdnssd-5.16.0</a></td>
   <td align="right">55kB</td>
   <td><tt>6b7eb7565ee1dbc1ba88bc93ae54bf9afc3286b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kdoctools-5.16.0.tar.xz">kdoctools-5.16.0</a></td>
   <td align="right">398kB</td>
   <td><tt>519d9ad68b5b81e3c4f3892611e2aa84822e0ef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kemoticons-5.16.0.tar.xz">kemoticons-5.16.0</a></td>
   <td align="right">92kB</td>
   <td><tt>f164822e1ff4972f7beb466083c283dc53c56875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kfilemetadata-5.16.0.tar.xz">kfilemetadata-5.16.0</a></td>
   <td align="right">120kB</td>
   <td><tt>40bab004ef3bbe21df50a57bd427cb70bde62309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kglobalaccel-5.16.0.tar.xz">kglobalaccel-5.16.0</a></td>
   <td align="right">79kB</td>
   <td><tt>674481b0bcb9026755269aa63b59e9ec7e2c17de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kguiaddons-5.16.0.tar.xz">kguiaddons-5.16.0</a></td>
   <td align="right">38kB</td>
   <td><tt>b700b2d0a8bee7e5181ef424256e86a613135583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/ki18n-5.16.0.tar.xz">ki18n-5.16.0</a></td>
   <td align="right">580kB</td>
   <td><tt>289e9a84159c2bf33a9f90f1ab2b71b1540eb2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kiconthemes-5.16.0.tar.xz">kiconthemes-5.16.0</a></td>
   <td align="right">191kB</td>
   <td><tt>5f8e5d709a6dca841d374ae48e465681eae033f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kidletime-5.16.0.tar.xz">kidletime-5.16.0</a></td>
   <td align="right">25kB</td>
   <td><tt>820bbc9c30f8adcfe10481d8c1877e54fe9f8299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kimageformats-5.16.0.tar.xz">kimageformats-5.16.0</a></td>
   <td align="right">83kB</td>
   <td><tt>8db25197f068b8eaf0f99c5657c8dc0cbd4aa87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kinit-5.16.0.tar.xz">kinit-5.16.0</a></td>
   <td align="right">114kB</td>
   <td><tt>1332315cf059a46d3e0e5d7dcc309489ec6e94ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kio-5.16.0.tar.xz">kio-5.16.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>7d29772dbceca294de817f96f1611c6602448cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kitemmodels-5.16.0.tar.xz">kitemmodels-5.16.0</a></td>
   <td align="right">374kB</td>
   <td><tt>4edb4c51ae48fc7938c74a4fea346cf3c8e84b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kitemviews-5.16.0.tar.xz">kitemviews-5.16.0</a></td>
   <td align="right">72kB</td>
   <td><tt>4a33d254f20d332a3d302d8334306d54e913b2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kjobwidgets-5.16.0.tar.xz">kjobwidgets-5.16.0</a></td>
   <td align="right">86kB</td>
   <td><tt>66e131e956dc49426c95cffdc147594e076d0b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/knewstuff-5.16.0.tar.xz">knewstuff-5.16.0</a></td>
   <td align="right">835kB</td>
   <td><tt>ff3a25be8618fa1b80dc46a7df35f6a5ee904199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/knotifications-5.16.0.tar.xz">knotifications-5.16.0</a></td>
   <td align="right">90kB</td>
   <td><tt>5fc93b41eaa9b50066e74fca77806b74b70d9db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/knotifyconfig-5.16.0.tar.xz">knotifyconfig-5.16.0</a></td>
   <td align="right">80kB</td>
   <td><tt>dee177085dd79b0ca583f141433a3eff681040d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kpackage-5.16.0.tar.xz">kpackage-5.16.0</a></td>
   <td align="right">100kB</td>
   <td><tt>946575a1fb83bef5580e8accf37c0d7967159b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kparts-5.16.0.tar.xz">kparts-5.16.0</a></td>
   <td align="right">150kB</td>
   <td><tt>1cc7901e49222936940de1b3dd00ef1a2ca2bdbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kpeople-5.16.0.tar.xz">kpeople-5.16.0</a></td>
   <td align="right">56kB</td>
   <td><tt>7e5ee65afd83a095370915c7264632726b5bd989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kplotting-5.16.0.tar.xz">kplotting-5.16.0</a></td>
   <td align="right">28kB</td>
   <td><tt>2a78958cc598d1b527c9bf53e7e096712db82e92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kpty-5.16.0.tar.xz">kpty-5.16.0</a></td>
   <td align="right">55kB</td>
   <td><tt>e7a2d59a0c63a1f7f25e3e8fa61d9f7f3da2ff31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kservice-5.16.0.tar.xz">kservice-5.16.0</a></td>
   <td align="right">262kB</td>
   <td><tt>a0b38c87a20ec23d58ed309444072ed2439e7aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/ktexteditor-5.16.0.tar.xz">ktexteditor-5.16.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a06d0da51efbf30506fa5307069c9527641df614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/ktextwidgets-5.16.0.tar.xz">ktextwidgets-5.16.0</a></td>
   <td align="right">299kB</td>
   <td><tt>ac0cfa11e4da8b5dc0019019ca7844d448cc4e84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kunitconversion-5.16.0.tar.xz">kunitconversion-5.16.0</a></td>
   <td align="right">613kB</td>
   <td><tt>a26f7e960e5ffdc3fdc885c3af457ac3e490ac54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kwallet-5.16.0.tar.xz">kwallet-5.16.0</a></td>
   <td align="right">279kB</td>
   <td><tt>3d337d88b54296f73a92466425cefd381bc9f6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kwidgetsaddons-5.16.0.tar.xz">kwidgetsaddons-5.16.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>67f0186ee31903869ff1800fbe778fe8c87bb53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kwindowsystem-5.16.0.tar.xz">kwindowsystem-5.16.0</a></td>
   <td align="right">159kB</td>
   <td><tt>211ba6a5cecd2c49cebf75bf46256e0e3065e662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kxmlgui-5.16.0.tar.xz">kxmlgui-5.16.0</a></td>
   <td align="right">844kB</td>
   <td><tt>1b1a8d85ef6519c34d5e7242384ff25aa540c48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/kxmlrpcclient-5.16.0.tar.xz">kxmlrpcclient-5.16.0</a></td>
   <td align="right">27kB</td>
   <td><tt>4e7907bbcb0dd56447dc5e0554349ed1ec7e8b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/modemmanager-qt-5.16.0.tar.xz">modemmanager-qt-5.16.0</a></td>
   <td align="right">96kB</td>
   <td><tt>0ae3a9fe0d0650f51d1a4dd45284222d870cf23d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/networkmanager-qt-5.16.0.tar.xz">networkmanager-qt-5.16.0</a></td>
   <td align="right">151kB</td>
   <td><tt>d55b167e85fe44c72ea50a98081dbc2428384e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/oxygen-icons5-5.16.0.tar.xz">oxygen-icons5-5.16.0</a></td>
   <td align="right">218MB</td>
   <td><tt>37610314d7e3fd3edde8a6e013ca2681855bdf50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/plasma-framework-5.16.0.tar.xz">plasma-framework-5.16.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>f7d23260fd1eaafd9f43a9c629ab93ccda771c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/solid-5.16.0.tar.xz">solid-5.16.0</a></td>
   <td align="right">261kB</td>
   <td><tt>74be81a3069e228039be35c7e3ab0c54799eb665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/sonnet-5.16.0.tar.xz">sonnet-5.16.0</a></td>
   <td align="right">274kB</td>
   <td><tt>0e015f7b1eefded02ba853a2d93ac1fdc9a5fd7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.16/threadweaver-5.16.0.tar.xz">threadweaver-5.16.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e804841a7cc1c7a8e25597d28bc8ed8fa6c15983</tt></td>
</tr>

</table>
